@model ZergTracker.Models.ViewModels.TicketViewModel

@{
    ViewBag.Title = "Details";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Zerg Tracker</a></li>
                    <li class="breadcrumb-item">Issues</li>
                    <li class="breadcrumb-item active">Issue Details</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper padded-top">
    <div class="custom-container">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Projects Detail</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                @if (Model.TicketType.Name == "User Interface Issue")
                                {
                                    <div class="info-box bg-gradient-blue">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center">@Model.TicketType.Name</span>
                                        </div>
                                    </div>
                                }
                                else if (Model.TicketType.Name == "Bug")
                                {
                                    <div class="info-box bg-gradient-danger">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center">@Model.TicketType.Name</span>
                                        </div>
                                    </div>
                                }
                                else if (Model.TicketType.Name == "Software Update")
                                {
                                    <div class="info-box bg-gradient-green">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center">@Model.TicketType.Name</span>
                                        </div>
                                    </div>
                                }
                                else if (Model.TicketType.Name == "Project Task")
                                {
                                    <div class="info-box bg-gradient-indigo">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center">@Model.TicketType.Name</span>
                                        </div>
                                    </div>
                                }
                                else if (Model.TicketType.Name == "Production Fix")
                                {
                                    <div class="info-box bg-gradient-orange">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center">@Model.TicketType.Name</span>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-12 col-sm-4">
                                @if (Model.TicketStatus.Name == "New")
                                {
                                    <div class="info-box bg-gradient-lightblue">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center">@Model.TicketStatus.Name</span>
                                        </div>
                                    </div>
                                }
                                else if (Model.TicketStatus.Name == "In Development")
                                {
                                    <div class="info-box bg-gradient-primary">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center">@Model.TicketStatus.Name</span>
                                        </div>
                                    </div>
                                }
                                else if (Model.TicketStatus.Name == "Resolved")
                                {
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center">@Model.TicketStatus.Name</span>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-12 col-sm-4">
                                @if (Model.TicketPriority.Name == "Urgent")
                                {
                                    <div class="info-box bg-gradient-red">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center">@Model.TicketPriority.Name</span>
                                        </div>
                                    </div>
                                }
                                else if (Model.TicketPriority.Name == "High")
                                {
                                    <div class="info-box bg-gradient-fuchsia">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center">@Model.TicketPriority.Name</span>
                                        </div>
                                    </div>
                                }
                                else if (Model.TicketPriority.Name == "Medium")
                                {
                                    <div class="info-box bg-gradient-teal">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center">@Model.TicketPriority.Name</span>
                                        </div>
                                    </div>
                                }
                                else if (Model.TicketPriority.Name == "Low")
                                {
                                    <div class="info-box bg-gradient-success">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center">@Model.TicketPriority.Name</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4>Issue History</h4>
                                <!-- History Here -->

                                @*<div class="post clearfix">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">
                                        <span class="username">
                                            <a href="#">Sarah Ross</a>
                                        </span>
                                        <span class="description">Sent you a message - 3 days ago</span>
                                    </div>*@
                                    <!-- /.user-block -->
                                    @*<p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore.
                                    </p>
                                    <p>
                                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 2</a>
                                    </p>
                                </div>*@


                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                        <h3 class="text-primary"><i class="fas fa-paint-brush"></i> @Model.Title</h3>
                        <p class="text-muted">@Model.Description</p>
                        <br>
                        <div class="text-muted">
                            <p class="text-sm">
                                Project
                                <b class="d-block">@Model.ProjectName</b>
                            </p>
                            <p class="text-sm">
                                Assigned Developer
                                <b class="d-block">@Model.AssignedToUser</b>
                            </p>
                        </div>

                        <h5 class="mt-5 text-muted">Issue Attachments</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Email-from-flatbal.mln</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
                            </li>
                            <li>
                                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- Comments and Attachments -->
        @if (User.Identity.IsAuthenticated)
        {
            <div class="card card-widget" id="comments">
                <div class="card-header">
                    <div class="user-block">
                        <img class="img-circle" src="~/favicon-32x32.png" alt="Zerg Logo">
                        <span class="username">Comments For: @Model.Title</span>
                        <span class="description">Issue Creation: @Model.Created.ToString("MMM dd yyyy")</span>
                    </div>
                    <!-- /.user-block -->
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->

                @foreach (var comment in Model.TicketComments)
                {
                    <div class="card-body">

                        @if (comment.HasPic)
                        {
                            foreach (var pic in Model.TicketAttachments)
                            {
                                if (comment.Id == pic.CommentId)
                                {
                                    <img class="img-fluid pad" src="@pic.FilePath" alt="Comment Attachment">

                                }
                            }
                        }
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer card-comments">
                        <div class="card-comment">
                            <!-- User image -->
                            <img class="img-circle img-sm" src="@comment.User.ProfilePic" alt="User Image">

                            <div class="comment-text">
                                <span class="username">
                                    @comment.User.FirstName @comment.User.LastName
                                    <span class="text-muted float-right">@comment.Created.ToString("MM/dd/yyyy h:mm tt")</span>
                                </span><!-- /.username -->
                                @comment.Comment
                            </div>
                            <!-- /.comment-text -->
                        </div>
                        <!-- /.card-comment -->
                    </div>
                    <!-- /.card-footer/comments -->
                }
                <div class="card-footer">
                    @using (Html.BeginForm("AddCommentAttachment", "TicketComments", new { TicketId = Model.Id }, FormMethod.Post, new { role = "form", enctype = "Multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("TicketId", Model.Id)

                        <div class="row">
                            <div class="col-12">
                                @Html.Action("CommentProfilePic", "Account")
                                <div class="img-push">
                                    @Html.TextArea("Comment", new { @class = "form-control", placeholder = "Leave comment here...", rows = "2" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <img class="img-fluid pad padded-top align-content-center" id="preview" style="max-height: 150px;" />
                            </div>
                            <div class="col-3">
                                <input name="image" type="file" class="form-control" id="fileUpload" style="display: none;" onchange="loadFile(event)" />
                                <div class="btn-group padded-top">
                                    <a class="btn btn-primary" onclick="clicker()"><i class="fas fa-image fa-2x" style="color: white; cursor: pointer;"></i></a>
                                    <input type="submit" value="Comment" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        }
        else
        {
            <h3 class="text-center">Please Login or Register to View or Leave Comments!</h3>
        }

    </div>
</div>
