@model ZergTracker.Models.ViewModels.TicketViewModel

@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Zerg Tracker</a></li>
                    <li class="breadcrumb-item active">Issues</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="content-wrapper">
    <div class="custom-container">
        <h2>Index</h2>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Issues</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tickets" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Dev Assigned
                                    </th>
                                    <th>
                                        Submitter
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Created)
                                    </th>
                                    <th>
                                        Project Name
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @item.Created.ToString("MMM dd, yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProjectId)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="@Url.Action("Details", new { id = item.Id })">
                                            <i class="fas fa-folder">
                                            </i>
                                            View
                                        </a>
                                        <a class="btn btn-info btn-sm" href="@Url.Action("Edit", new { id = item.Id })">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = item.Id })">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <!-- DataTables -->
    <script src="~/assets/js/jquery.dataTables.js"></script>
    <script src="~/assets/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $("#tickets").DataTable();
        });
    </script>
}
