@model ZergTracker.Models.ViewModels.PersonnelViewModel

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Zerg Tracker</a></li>
                    <li class="breadcrumb-item active">Personnel</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="content-wrapper padded-top">
    <div class="custom-container">
        <div class="card-columns">
            @if (User.IsInRole("Admin"))
            {
                using (Html.BeginForm("ChangeUserRole", "Roles", FormMethod.Post, new { @class = "form group", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h4>Manage User Roles</h4>
                            </div>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <span>Users</span>
                            @Html.DropDownListFor(u => u.UserId, null, new { @class = "form-control", style = "width: 100%;" })
                            <span>Roles</span>
                            @Html.ListBoxFor(r => r.RoleName, null, new { @class = "form-control select2", style = "width: 100%;" })
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary float-right" name="add" value="false" type="submit">Remove</button>
                            <button class="btn btn-primary float-right" name="add" value="true" type="submit" style="margin-right: 5px">Add</button>
                        </div>
                    </div>
                }
            }
            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
            {
                using (Html.BeginForm("ChangeUserProjects", "Projects", FormMethod.Post, new { @class = "form group", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h4>Manage User Projects</h4>
                            </div>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <span>Users</span>
                            @Html.DropDownListFor(u => u.UserId, null, new { @class = "form-control", style = "width: 100%;" })
                            <span>Projects</span>
                            @Html.DropDownListFor(p => p.ProjectId, null, new { @class = "form-control", style = "width: 100%;" })
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary float-right" name="add" value="false" type="submit">Remove</button>
                            <button class="btn btn-primary float-right" name="add" value="true" type="submit" style="margin-right: 5px">Add</button>
                        </div>
                    </div>
                }
            }
            @if (User.IsInRole("Admin"))
            {
                using (Html.BeginForm("ChangeProjectPM", "Projects", FormMethod.Post, new { @class = "form group", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h4>Manage User Roles</h4>
                            </div>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <span>Users</span>
                            @Html.DropDownListFor(u => u.ProjectId, null, new { @class = "form-control", style = "width: 100%;" })
                            <span>Roles</span>
                            @Html.DropDownListFor(r => r.PMers, null, new { @class = "form-control", style = "width: 100%;" })
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary float-right" name="add" value="false" type="submit">Remove</button>
                            <button class="btn btn-primary float-right" name="add" value="true" type="submit" style="margin-right: 5px">Add</button>
                        </div>
                    </div>
                }
            }
        </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Users and Roles</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="user-titles" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Role(s)</th>
                                <th>Project(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UserTitles)
                            {
                                <tr>
                                    <td>
                                        <p>@item.FirstName @item.LastName</p>
                                    </td>
                                    <td>
                                        <p>
                                            @foreach (var role in item.RoleNameStrings)
                                            {@role; <br />}
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            @foreach (var proj in item.ProjectNameStrings)
                                            {@proj.Name; <br />}
                                        </p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
    }
@section scripts{
    <!-- DataTables -->
    <script src="~/assets/js/jquery.dataTables.js"></script>
    <script src="~/assets/js/dataTables.bootstrap4.js"></script>
    <!-- Select2 -->
    <script src="~/assets/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/assets/js/jquery.bootstrap-duallistbox.js"></script>
    <script>
        $(function () {
            $("#user-titles").DataTable();
                //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
              theme: 'bootstrap4'
            })
        });
    </script>
}
