@model ZergTracker.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Zerg Tracker</a></li>
                    <li class="breadcrumb-item active">Preferences</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="content-wrapper">
    <div class="custom-container">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <div class="card card-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-info">
                    <div class="widget-user-image">
                        <img class="img-circle elevation-2" src="@Model.ProfilePic" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">@Model.FirstName @Model.LastName</h3>
                    @foreach (var role in Model.Roles)
                    {
                        <h5 class="widget-user-desc">@role</h5>
                    }
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="card-title">User Preferences</div>
                </div>
                @using (Html.BeginForm("ChangeName", "Manage", FormMethod.Post))
                {
                    <div class="card-body">
                        <div class="form-group">
                            <div class="col-md-2">
                                First Name:
                            </div>
                            <div class="col-md-12">
                                @Html.EditorFor(n => n.NewFirstName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                Last Name:
                            </div>
                            <div class="col-md-12">
                                @Html.EditorFor(n => n.NewLastName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group float-right">
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn bg-gradient-indigo" })
                            }
                            else
                            {
                                @Html.ActionLink("Create", "SetPassword")
                            }
                            <button type="submit" class="btn bg-gradient-cyan">Save</button>
                        </div>
                    </div>
                }

            </div>

                @*<dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>*@
                @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                Uncomment the following block after you have set up two-factor authentication
                *@
                @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
                *@
                @*<dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>*@
                @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@
                @*</dd>*@
        </div>
    </div>
</div>
