@model ZergTracker.Models.ViewModels.DashboardViewModel

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Zerg Tracker</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper padded-top">
    <!-- Main content -->
    <section class="content">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <h3>Totals</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <!-- small box -->
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>@Model.ProjectCount</h3>

                            <p>Projects</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-project-diagram"></i>
                        </div>
                    </div>
                    <!-- /box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@Model.TicketCount</h3>

                            <p>Work Items</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-clipboard-list"></i>
                        </div>
                    </div>
                    <!-- /box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@Model.UrgentTicketCount</h3>

                            <p> URGENT Items</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-fire"></i>
                        </div>
                    </div>
                    <!-- /box -->
                </div>
                <div class="col-md-3">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@Model.UserCount</h3>

                            <p>Personnel</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-friends"></i>
                        </div>
                    </div>
                    <!-- /box -->
                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <h3>Key Indicators</h3>
                </div>
            </div>
            <!-- Key Indicators Section Start-->
            <!-- Begin Row-->
            <div class="row">
                @if ((Model.TicketsPerDev <= 5))
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="info-box bg-success">
                            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Status: Green</span>
                                <span class="info-box-number">@Model.TicketsPerDev</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: @Model.TicketsPerDevStatusBar"></div>
                                </div>
                                <span class="progress-description">
                                    Active Work Items per Developer
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }
                else if ((Model.TicketsPerDev > 5) && (Model.TicketsPerDev <= 7))
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="info-box bg-warning">
                            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Status: Warning</span>
                                <span class="info-box-number">@Model.TicketsPerDev</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: @Model.TicketsPerDevStatusBar"></div>
                                </div>
                                <span class="progress-description">
                                    Active Work Items per Developer
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }
                else if (Model.TicketsPerDev > 7)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="info-box bg-danger">
                            <span class="info-box-icon"><i class="far fa-thumbs-down"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Status: Danger</span>
                                <span class="info-box-number">@Model.TicketsPerDev</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: @Model.TicketsPerDevStatusBar"></div>
                                </div>
                                <span class="progress-description">
                                    Active Work Items per Developer
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }

                @if (Model.ProjPerPM <= 6)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="info-box bg-success">
                            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Status: Green</span>
                                <span class="info-box-number">@Model.ProjPerPM</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: @Model.ProjPerPMStatusBar"></div>
                                </div>
                                <span class="progress-description">
                                    Active Projects per Project Manager
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }
                else if (Model.ProjPerPM > 6 && Model.ProjPerPM < 8)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="info-box bg-warning">
                            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Status: Warning</span>
                                <span class="info-box-number">@Model.ProjPerPM</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: @Model.ProjPerPMStatusBar"></div>
                                </div>
                                <span class="progress-description">
                                    Active Projects per Project Manager
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }
                else if (Model.ProjPerPM >= 8)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="info-box bg-danger">
                            <span class="info-box-icon"><i class="far fa-thumbs-down"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Status: Danger</span>
                                <span class="info-box-number">@Model.ProjPerPM</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: @Model.ProjPerPMStatusBar"></div>
                                </div>
                                <span class="progress-description">
                                    Active Projects per Project Manager
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }
                @if (Model.ProjPerSub <= 6)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="info-box bg-success">
                            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Status: Green</span>
                                <span class="info-box-number">@Model.ProjPerSub</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: @Model.ProjPerSubStatusBar"></div>
                                </div>
                                <span class="progress-description">
                                    Active Projects per Project Manager
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }
                else if (Model.ProjPerSub > 6 && Model.ProjPerSub < 8)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="info-box bg-warning">
                            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Status: Warning</span>
                                <span class="info-box-number">@Model.ProjPerSub</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: @Model.ProjPerSubStatusBar"></div>
                                </div>
                                <span class="progress-description">
                                    Active Projects per Project Manager
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }
                else if (Model.ProjPerSub >= 8)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="info-box bg-danger">
                            <span class="info-box-icon"><i class="far fa-thumbs-down"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Status: Danger</span>
                                <span class="info-box-number">@Model.ProjPerSub</span>

                                <div class="progress">
                                    <div class="progress-bar" style="width: @Model.ProjPerSubStatusBar"></div>
                                </div>
                                <span class="progress-description">
                                    Active Projects per Project Manager
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                }
            </div>
            <!-- Key Indicators section End -->
            <div class="row">
                <div class="col-12">
                    <h3>Issue Statistics</h3>
                </div>
            </div>
            <!-- Stats Sections -->
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <!-- DONUT CHART -->
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Work Items by Priority</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col end -->
                <div class="col-lg-6 col-md-6">
                    <!-- STACKED BAR CHART -->
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">High Priority Items by Status</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="stackedBarChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
            </div>
            @*<div class="row">*@
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Key Indicator Legend</div>
                    </div>
                    <div class="card-body">
                        <div class="row d-flex justify-content-around">
                            <div class="bg-success col-4">
                                <h5>Status: Green</h5>
                                <p>Personnel per Object is Acceptable</p>
                            </div>
                            <div class="bg-warning col-4">
                                <h5>Status: Yellow</h5>
                                <p>Personnel per Object is Close to Acceptable</p>
                            </div>
                            <div class="bg-danger col-4">
                                <h5>Status: Red</h5>
                                <p>Personnel per Object is Unacceptable</p>
                            </div>
                        </div>
                    </div>
                </div>
            @*</div>*@
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div><!-- End view wrapper / view -->

@section scripts{
<script>
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutData        = {
        labels: [
            'Urgent', 
            'High',
            'Medium', 
            'Low', 
        ],
        datasets: [
        {
            data: [@Model.UrgentTicketCount,@Model.HighTickCount,@Model.MedTickCount,@Model.LowTickCount],
            backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef'],
        }
        ]
    }

    var donutOptions     = {
        maintainAspectRatio : false,
        responsive : true,
    }

    var donutChart = new Chart(donutChartCanvas, {
        type: 'doughnut',
        data: donutData,
        options: donutOptions      
    })

    var barChartData = {
        labels: ['New', 'In Development'],
        datasets: [
            {
              label               : 'Urgent',
              backgroundColor     : 'rgba(60,141,188,0.9)',
              borderColor         : 'rgba(60,141,188,0.8)',
              pointRadius          : false,
              pointColor          : '#3b8bba',
              pointStrokeColor    : 'rgba(60,141,188,1)',
              pointHighlightFill  : '#fff',
              pointHighlightStroke: 'rgba(60,141,188,1)',
              data                : [@Model.UrgentNew, @Model.UrgentInDev]
            },
            {
              label               : 'High',
              backgroundColor     : 'rgba(210, 214, 222, 1)',
              borderColor         : 'rgba(210, 214, 222, 1)',
              pointRadius         : false,
              pointColor          : 'rgba(210, 214, 222, 1)',
              pointStrokeColor    : '#c1c7d1',
              pointHighlightFill  : '#fff',
              pointHighlightStroke: 'rgba(220,220,220,1)',
              data                : [@Model.HighNew, @Model.HighInDev]
            },
        ]
    }

    var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
    var stackedBarChartData = jQuery.extend(true, {}, barChartData)

    var stackedBarChartOptions = {
        responsive              : true,
        maintainAspectRatio     : false,
        scales: {
            xAxes: [{
                stacked: true,
            }],
            yAxes: [{
                stacked: true
            }]
        }
    }

    var stackedBarChart = new Chart(stackedBarChartCanvas, {
        type: 'bar', 
        data: stackedBarChartData,
        options: stackedBarChartOptions
    })
</script>
}
