@model ZergTracker.Models.ViewModels.ProjectViewModel

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Zerg Tracker</a></li>
                    <li class="breadcrumb-item">Project</li>
                    <li class="breadcrumb-item active">Project Details</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="content-wrapper">
    <div class="custom-container">
        <div class="row padded-top">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">@Model.Name</div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p><b>Description:</b></p>
                        </div>
                        <div class="card-text">
                            @Model.Decription
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Project Members</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (var user in Model.Users)
                            {   
                                <div class="col-3">
                                    <img class="img-circle elevation-2 img-fluid" data-toggle="tooltip" title="@user.FirstName @user.LastName" src="@user.ProfilePic" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
